
<div class="background">
  {{!-- <img src="./images/spotify-background.jpeg" alt=""> --}}
  <div class="search-container">
    <form action="/artist-search" method="GET">
      <input type="text" placeholder="Look for any artist..." name="term" class="search" />
      <button>Search for an artist</button>
    </form>
  </div>
</div>
